##### 1. Install library "mysql-connector-python"

In [41]:
#!pip install mysql-connector-python
!pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.1.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: d:\pythonmlbcel\env\lib\site-packages
Requires: protobuf
Required-by:

##### 2. Connect to mySQL/MariaDB database

In [42]:
import mysql.connector

# Connect to the database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pythondb",
    port=3306
)

# test connection
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023895C34F70>

##### 3. Fetching the data from MariaDB to Pandas DataFrame

In [43]:
import pandas as pd

# Fetch data using a SQL query
query = "SELECT * FROM titanic"

# Pandas read_sql_query function
titanic_df = pd.read_sql_query(query, con=db_connection)

# Print the dataframe
titanic_df

C:\Users\samit\AppData\Local\Temp\ipykernel_15328\2677395829.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  titanic_df = pd.read_sql_query(query, con=db_connection)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0,1,2,W./C. 6607,23.4500,,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,,Q

##### 4. Data Preparation

In [44]:
# Cleansing NaN Values
# 1. Drop NaN Values
titanic_df = titanic_df[['Age', 'SibSp', 'Parch', 'Fare', 'Survived']].dropna()

x = titanic_df[['Age', 'SibSp', 'Parch', 'Fare']] # Features
y = titanic_df['Survived'] # Target

print(x)
print(y)

     Age  SibSp  Parch     Fare
0     22      1      0   7.2500
1     38      1      0  71.2833
2     26      0      0   7.9250
3     35      1      0  53.1000
4     35      0      0   8.0500
..   ...    ...    ...      ...
886   27      0      0  13.0000
887   19      0      0  30.0000
888    0      1      2  23.4500
889   26      0      0  30.0000
890   32      0      0   7.7500

[891 rows x 4 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

##### 5. Splitting the data into train and test sets

In [45]:
from sklearn.model_selection import train_test_split

# Split the data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=0)

print(x_train)
print(x_test)
print(y_train)
print(y_test)

     Age  SibSp  Parch     Fare
815    0      0      0   0.0000
877   19      0      0   7.8958
193    3      1      1  26.0000
523   44      0      1  57.9792
634    9      3      2  27.9000
..   ...    ...    ...      ...
835   39      1      1  83.1583
192   19      1      0   7.8542
629    0      0      0   7.7333
559   36      1      0  17.4000
684   60      1      1  39.0000

[801 rows x 4 columns]
     Age  SibSp  Parch      Fare
495    0      0      0   14.4583
648    0      0      0    7.5500
278    7      4      1   29.1250
31     0      1      0  146.5208
255   29      0      2   15.2458
..   ...    ...    ...       ...
627   21      0      0   77.9583
380   42      0      0  227.5250
483   63      0      0    9.5875
516   34      0      0   10.5000
505   18      1      0  108.9000

[90 rows x 4 columns]
815    0
877    0
193    1
523    1
634    0
      ..
835    1
192    1
629    0
559    1
684    0
Name: Survived, Length: 801, dtype: int64
495    0
648    0
278    0
31     1
255    1
      ..
627    1
380    1
483    1
516    1
505    0
Name: Survived, Length: 90, dtype: int64

##### 6. Scaling Data

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

print(x_train)
print(x_test)

[[-1.35855993 -0.4673543  -0.4680658  -0.63579689]
 [-0.28090312 -0.4673543  -0.4680658  -0.47501012]
 [-1.18840359  0.43036943  0.765226   -0.10634377]
 ...
 [-1.35855993 -0.4673543  -0.4680658  -0.47831921]
 [ 0.68331613  0.43036943 -0.4680658  -0.28147057]
 [ 2.04456684  0.43036943  0.765226    0.15838279]]
[[-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -3.41374120e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.82051851e-01]
 [-9.61528475e-01  3.12354061e+00  7.65225998e-01 -4.27075786e-02]
 [-1.35855993e+00  4.30369427e-01 -4.68065802e-01  2.34789137e+00]
 [ 2.86284677e-01 -4.67354299e-01  1.99851780e+00 -3.25337800e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -1.47076540e-02]
 [ 9.10191252e-01 -4.67354299e-01 -4.68065802e-01  2.48924924e+00]
 [ 3.99722236e-01 -4.67354299e-01  1.99851780e+00  2.72147960e+00]
 [ 5.94095582e-02  4.30369427e-01 -4.68065802e-01  1.21890183e+00]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.88584488e-01]
 [ 1.16128338e-01  4.30369427e-01 -4.68065802e-01 -4.75857249e-01]
 [ 9.10191252e-01 -4.67354299e-01 -4.68065802e-01 -3.71070331e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.77979135e-01]
 [-9.61528475e-01 -4.67354299e-01  1.99851780e+00 -1.01252876e-01]
 [ 2.69077856e-03 -4.67354299e-01 -4.68065802e-01  1.05760393e+00]
 [-5.64497017e-01 -4.67354299e-01 -4.68065802e-01 -4.75857249e-01]
 [-5.40280010e-02 -4.67354299e-01 -4.68065802e-01 -4.47942852e-01]
 [-2.80903119e-01  4.30369427e-01  7.65225998e-01  1.12564731e-01]
 [ 6.26597354e-01 -4.67354299e-01 -4.68065802e-01 -4.71870060e-01]
 [-1.35855993e+00 -4.67354299e-01  7.65225998e-01 -4.62366377e-01]
 [-3.37621899e-01 -4.67354299e-01 -4.68065802e-01 -4.01615704e-01]
 [-1.10746781e-01 -4.67354299e-01 -4.68065802e-01  2.45030389e+00]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.78233679e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.52586320e-03]
 [-1.10746781e-01 -4.67354299e-01 -4.68065802e-01 -4.35470158e-01]
 [ 9.10191252e-01  4.30369427e-01  7.65225998e-01  2.10310483e+00]
 [ 4.56441015e-01 -4.67354299e-01 -4.68065802e-01 -4.75010124e-01]
 [-1.10746781e-01 -4.67354299e-01 -4.68065802e-01 -4.77979135e-01]
 [ 5.94095582e-02 -4.67354299e-01  7.65225998e-01 -1.06343771e-01]
 [-1.24512237e+00  2.22581688e+00  1.99851780e+00 -6.76529661e-02]
 [ 5.13159795e-01 -4.67354299e-01 -4.68065802e-01 -4.59397366e-01]
 [ 1.47737905e+00 -4.67354299e-01 -4.68065802e-01 -4.21979285e-01]
 [ 2.29565897e-01 -4.67354299e-01 -4.68065802e-01 -4.42342867e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01  8.71102538e-02]
 [ 2.86284677e-01  4.30369427e-01 -4.68065802e-01 -4.92319169e-01]
 [ 4.56441015e-01 -4.67354299e-01 -4.68065802e-01 -1.47076540e-02]
 [ 1.08034759e+00 -4.67354299e-01 -4.68065802e-01 -5.04451791e-01]
 [ 2.29565897e-01 -4.67354299e-01 -4.68065802e-01 -4.21979285e-01]
 [ 5.94095582e-02 -4.67354299e-01 -4.68065802e-01 -3.71070331e-01]
 [ 1.70425417e+00 -4.67354299e-01 -4.68065802e-01 -3.50706750e-01]
 [ 2.04456684e+00  4.30369427e-01  7.65225998e-01  9.76998768e-01]
 [ 5.94095582e-02 -4.67354299e-01 -4.68065802e-01 -4.88670015e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -3.40524959e-01]
 [-5.64497017e-01  3.12354061e+00  7.65225998e-01  1.72382752e-01]
 [ 6.26597354e-01  4.30369427e-01 -4.68065802e-01  1.06405308e+00]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.75010124e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.75010124e-01]
 [-3.37621899e-01  1.32809315e+00  1.99851780e+00  4.70709782e+00]
 [ 8.53472472e-01 -4.67354299e-01 -4.68065802e-01 -3.71070331e-01]
 [ 1.59081661e+00  4.30369427e-01  7.65225998e-01  9.86162380e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -2.48894448e-02]
 [-5.40280010e-02 -4.67354299e-01  7.65225998e-01  6.54405018e-01]
 [-1.13168481e+00  4.30369427e-01  7.65225998e-01 -1.67434516e-01]
 [-2.80903119e-01 -4.67354299e-01 -4.68065802e-01 -4.75010124e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -3.09985192e-02]
 [ 2.69077856e-03  1.32809315e+00 -4.68065802e-01  8.60926353e-01]
 [ 2.15800440e+00 -4.67354299e-01 -4.68065802e-01 -9.51438012e-02]
 [-7.34653356e-01  3.12354061e+00  1.99851780e+00  1.07412173e-03]
 [-7.91372136e-01  2.22581688e+00  1.99851780e+00 -6.76529661e-02]
 [-1.35855993e+00  1.32809315e+00 -4.68065802e-01 -1.62343620e-01]
 [-1.10746781e-01 -4.67354299e-01 -4.68065802e-01 -4.88584488e-01]
 [ 2.86284677e-01 -4.67354299e-01  4.46510140e+00 -2.06634410e-01]
 [ 1.70425417e+00  4.30369427e-01 -4.68065802e-01  9.57993438e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01  1.70600938e-01]
 [ 1.72847117e-01 -4.67354299e-01  1.99851780e+00 -4.09083029e-01]
 [ 4.56441015e-01 -4.67354299e-01 -4.68065802e-01 -4.77979135e-01]
 [ 1.42066027e+00 -4.67354299e-01 -4.68065802e-01 -1.07785513e-01]
 [ 2.29565897e-01 -4.67354299e-01  7.65225998e-01  3.62012999e-02]
 [-1.24512237e+00  4.30369427e-01  7.65225998e-01 -1.06343771e-01]
 [-2.80903119e-01 -4.67354299e-01 -4.68065802e-01 -2.48894448e-02]
 [ 2.69077856e-03  4.30369427e-01 -4.68065802e-01 -1.06343771e-01]
 [ 1.36394149e+00  4.30369427e-01 -4.68065802e-01  4.23109350e-01]
 [ 2.29565897e-01  4.30369427e-01 -4.68065802e-01  1.03749490e+00]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -4.71870060e-01]
 [ 2.69077856e-03 -4.67354299e-01 -4.68065802e-01 -4.71870060e-01]
 [ 3.43003456e-01  2.22581688e+00 -4.68065802e-01 -2.08161679e-01]
 [-2.80903119e-01  2.22581688e+00  1.99851780e+00  4.71982506e+00]
 [ 9.10191252e-01 -4.67354299e-01 -4.68065802e-01 -7.13021199e-02]
 [ 5.69878574e-01 -4.67354299e-01 -4.68065802e-01 -5.03519139e-01]
 [-1.35855993e+00 -4.67354299e-01 -4.68065802e-01 -3.29324989e-01]
 [-1.35855993e+00  4.30369427e-01 -4.68065802e-01 -1.44016397e-01]
 [-8.48090915e-01  4.30369427e-01  7.65225998e-01 -3.12015945e-01]
 [ 1.16128338e-01  4.30369427e-01  7.65225998e-01 -1.06343771e-01]
 [-4.51059458e-01 -4.67354299e-01 -4.68065802e-01 -4.77470045e-01]
 [ 1.25050393e+00 -4.67354299e-01 -4.68065802e-01 -1.06343771e-01]
 [-1.67465560e-01 -4.67354299e-01 -4.68065802e-01  9.51713309e-01]
 [ 1.02362881e+00 -4.67354299e-01 -4.68065802e-01  3.99742700e+00]
 [ 2.21472318e+00 -4.67354299e-01 -4.68065802e-01 -4.40561053e-01]
 [ 5.69878574e-01 -4.67354299e-01 -4.68065802e-01 -4.21979285e-01]
 [-3.37621899e-01  4.30369427e-01 -4.68065802e-01  1.58179714e+00]]

##### 7. Train the Model

In [47]:
from sklearn.linear_model import LogisticRegression

# Create the model
model = LogisticRegression()

# Train the model
model.fit(x_train, y_train)

LogisticRegression()

##### 8. Predictions

In [48]:
y_pred = model.predict(x_test)
# y_pred = model.predict([[26,0,0,78]])

y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1], dtype=int64)

##### 9. Model Evaluation

In [50]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Accuracy
print("Accuracy: ", accuracy_score(y_test, y_pred))

# Precision
print("Precision: ", precision_score(y_test, y_pred))

# Recall
print("Recall: ", recall_score(y_test, y_pred))

# F1 score
print("F1 score: ", f1_score(y_test, y_pred))

Accuracy:  0.6666666666666666
Precision:  0.7647058823529411
Recall:  0.3333333333333333
F1 score:  0.4642857142857143

##### 10. Export model with joblib

In [51]:
from joblib import dump

# Save the model
dump(model, '../MyModelTrained/titatic_survival.joblib')

['../MyModelTrained/titatic_survival.joblib']